---
layout: default
---


<div id="main" role="main">
  {% include sidebar.html %}

  <article class="" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>

    <div class="page__inner-wrap">
        <header>
          {% if page.title -%}
          <h1 id="page-title" class="page__title" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>
          {%- endif %}
          {% include page__meta.html %}
        </header>

    </div>

  </article>

</div>
