---
layout: archive
---


{{ content }}

<div class="page__hero" style=" background-image: url('');">
  <img src="/assets/images/image2.jpg" alt="Layout: Header Image and Text Readability" class="page__hero-image">
  <span class="page__hero-caption">Photo credit: <a href="https://unsplash.com"><strong>Bo!</strong></a>
</span>

</div>

  <section class="section-1">
    <h2>Section 1 Title</h2>
    <p>Content for section 1...</p>
  </section>


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
</body>
</html>
