---
layout: single
is_homepage: yes
---
<div class="container">
  <h2>Benvenuti!</h2>
    <p></p>
    <p style="font-size: 20px;" font-family="Helvetica">Siamo Amalia e Bruk, e questo &egrave il sito del nostro matrimonio. </p>
    <p style="font-size: 20px;">Qui troverete un p&ograve di informazioni riguardo all'organizzazione e ai vari eventi!</p>
    <p style="font-size: 20px;">Siamo molto felici di trascorrere questo giorno con tutti voi, 
      per questo speriamo che voi possiate esserci!</p>
  </div>
</div>

<!-- Hero Section -->
<section class="section-1">
  <div class="container">
  <!-- Nulla!  -->
  </div>
</section>

</section>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
</body>
</html> 


