---
layout: archive
---

<section class="section-1">
  <h2>Section 1 Title</h2>
  <p>Content for section 1...</p>
</section>

<section class="section-2">
  <h2>Section 2 Title</h2>
  <p>Content for section 2...</p>
</section>

<section class="section-3">
  <h2>Section 3 Title</h2>
  <p>Content for section 3...</p>
</section>

<section class="section-4">
  <h2>Section 4 Title</h2>
  <p>Content for section 4...</p>
</section>


<!-- <!DOCTYPE html> -->
<!-- <html lang="it"> -->
<!-- <head> -->
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CIAO</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body> -->
  <!-- Banda con immagine di matrimonio -->
  <!-- <div class="hero-banner"></div> -->

  <!-- Navigazione o altre sezioni del sito -->
  <!-- <header> -->
    <!-- Menu di navigazione -->
  <!-- </header> -->

  <!-- Contenuto della pagina -->
  <!-- <main>
    {{ content }}
  </main>
</body>
</html> -->


<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %} -->

