---
layout: default_rsvp
is_homepage: page.is_homepage
---

<div id="main" role="main">

  <article class="" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>

    <div class="page__inner-wrap">
      <section class="page__content" itemprop="text">
        {{ content }}

        <iframe src="https://forms.gle/62vsjMuFpowNSa148" width="1240" height="1900" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>

      </section>

    </div>

  </article>

</div>
